*{
    padding: 0%;
    margin: 0%;
}
.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.loginInputs{
    width: 400px;
    height: 50px;
    /* border: none; */
    padding: none   ;
}